<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- 打过补丁的 Aprillz.MewUI.Platform.Win32，见 scripts/build-mewui-patch.sh -->
    <add key="vendor" value="vendor/packages" />
  </packageSources>
</configuration>
